extends layout 

block content 
  h2.text-accent.mb-4
    i.bi.bi-images.me-2 


  a.btn.btn-outline-light.mb-4(href="/collections")
    i.bi.bi-arrow-left.me-1


  if  posts.length === 0
     .alert.alert-secondary
       i.bi.bi-inbox.me-2

  else
    .row
      each post in posts
        .col-md-4.mb-4
          .card.card-custom
            - const collectionImage = post.imagen.startsWith("http") ? post.imagen : `/uploads/${post.imagen}`
            img.card-img-top.rounded-top(src=collectionImage)
            .card-body
              h5.card-title.text-accent= post.titulo
              p.card-text.small.text-muted Autor: #{post.autor}
              if  post.descripcion
                 p.card-text.small= post.descripcion
