doctype html
html
  head
    title Denuncias
  body
    h1 Publicaciones denunciadas

    if reports.length === 0
      p No hay denuncias
    else
      each report in reports
        div
          h3= report.Post.titulo
          p Autor: #{report.Post.User.nombre}
          img(src=`/uploads/${report.Post.imagen}` width="250")
          p Motivo: #{report.motivo}
          p Descripción: #{report.descripcion}
          p Denunciante: #{report.User.nombre}

          form(action="/reports/dismiss" method="POST")
            input(type="hidden" name="post_id" value=report.post_id)
            button(type="submit") Desestimar denuncias

          form(action="/reports/remove" method="POST")
            input(type="hidden" name="post_id" value=report.post_id)
            button(type="submit") Bajar publicación
    h1 Comentarios denunciados

    if !commentReports || commentReports.length === 0
      p No hay denuncias de comentarios
    else
      each report in commentReports
        div
          h3 Comentario denunciado
          p Comentario: #{report.Comment.comentario}
          p Autor comentario: #{report.Comment.User.nombre}
          p Publicacion: #{report.Comment.Post.titulo}
          p Motivo: #{report.motivo}
          p Descripcion: #{report.descripcion}
          p Denunciante: #{report.User.nombre}

          form(action="/reports/comments/dismiss" method="POST")
            input(type="hidden" name="comment_id" value=report.comment_id)
            button(type="submit") Desestimar denuncia

          form(action="/reports/comments/remove" method="POST")
            input(type="hidden" name="comment_id" value=report.comment_id)
            button(type="submit") Borrar comentario
