extends layout

block content
  h2.text-accent.mb-4
    i.bi.bi-flag-fill.me-2


  if reports.length === 0
    .alert.alert-success
      i.bi.bi-check-circle.me-2

  else
    each report in reports
      .card.card-custom.mb-4.p-3
        .row
          .col-md-4
            img.img-fluid.rounded(src=`/uploads/${report.Post.imagen}`)
          .col-md-8
            h5.text-accent= report.Post.titulo
            p.mb-1
              b Autor:
              |  #{report.Post.User.nombre}
            .alert.alert-warning.text-danger.p-2.mt-2
              p.mb-1
                b Motivo:
                |  #{report.motivo}
              p.mb-1
                b Descripción:
                |  #{report.descripcion}
              p.mb-0
                b Denunciante:
                |  #{report.User.nombre}
            .d-flex.gap-2.mt-3
              form(action="/reports/dismiss" method="POST")
                input(type="hidden" name="post_id" value=report.post_id)
                button.btn.btn-outline-success(type="submit")
                  i.bi.bi-x-circle.me-1
                                    
              form(action="/reports/remove" method="POST")
                input(type="hidden" name="post_id" value=report.post_id)
                button.btn.btn-danger(type="submit")
                  i.bi.bi-trash-fill.me-1
                                    

